<a href="https://colab.research.google.com/github/Totskyyy/UTS-AI-Thoty-Ariesandes-221011403066-05tple018/blob/main/UTS_AI_ThotyAriesandes_05TPLE018_221011403066.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Soal UTS

In [ ]:

# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

The next few cells will show some examples on how to interact with our functions. Note that some of these function calls could be useful for you in completing the tasks below.

## Task 1

Please get the list of all Companies and sort by **Company Name** in reverse order.

Expected result:


```json
[{
    "name": "Company 3"
}, {
    "name": "Company 2"
}, {
    "name": "Company 1"
}]
```

In [ ]:
sorted_companies = sorted(
    [{'name': company['name']} for company in company_detail_list],
    key=lambda x: x['name'],
    reverse=True
)

In [ ]:
print(sorted_companies)

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

In [ ]:
for company in sorted_companies:
  print(company)

{'name': 'Company 3'}
{'name': 'Company 2'}
{'name': 'Company 1'}

## Soal 2

Please print all Domain value in every company (use print statement).

Expected return:

```
    Company 1: Retail (United States)
    Company 2: Technology (United Kingdom)
    Company 3: Healthcare (United States)
```

In [ ]:
for company in company_detail_list:
  print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

## Task 3

List all Employees work By company domain.

Expected return:

```json
{
    "Retail": [
         "John Doe",
         "Robert White",
         "Ying Han Tan"
     ],
    "Technology":[
          "Tom Smith",
          "Rubby Lee",
     ],
    "Healthcare": [
         "Kenneth Ng",
         "Andrew Sebastian"
     ],
}
```

In [ ]:
employees_by_domain={}

In [ ]:
for company in company_detail_list:
  domain = company['domain']
  employees_by_domain[domain] = []

  for employee in employee_detail_list:
    if employee['company'] == company['name']:
      employees_by_domain[domain].append(employee['full_name'])

In [ ]:
print(employees_by_domain)

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

In [ ]:
for domain, employees in employees_by_domain.items():
  print(f"{domain}:")
  for employee in employees:
    print(f"    {employee}")
  print()

Retail:
    John Doe
    Ying Han Tan
    Robert White

Technology:
    Tom Smith
    Rubby Lee

Healthcare:
    Andrew Sebastian
    Kenneth Ng

## Task 4

Create a function that return employees with it's company country.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "country": "United States"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "country": "United Kingdom"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 3",
    "country": "United Kingdom"
},  {
    "full_name": "Ying Han Tan",
    "company": "Company 1",
    "country": "United States"
},  {
    "full_name": "Kenneth Ng",
    "company": "Company 3",
    "country": "United States"
},  {
    "full_name": "Rubby Lee",
    "company": "Company 2",
    "country": "United Kingdom"
},   {
    "full_name": "Robert White",
    "company": "Company 1",
    "country": "United States"
},
    
]
```

In [ ]:
def get_employees_with_company_country():

    result = []

    for employee in employee_detail_list:
        for company in company_detail_list:
            if employee['company'] == company['name']:
                result.append({
                    'full_name': employee['full_name'],
                    'company': company['name'],
                    'country': company['country']
                })

    return result

In [ ]:
employees_with_country = get_employees_with_company_country()
print(employees_with_country)

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}]

In [ ]:
for employee in employees_with_country:
    print(f"Full Name: {employee['full_name']}")
    print(f"Company: {employee['company']}")
    print(f"Country: {employee['country']}")
    print()

Full Name: John Doe
Company: Company 1
Country: United States

Full Name: Tom Smith
Company: Company 2
Country: United Kingdom

Full Name: Andrew Sebastian
Company: Company 3
Country: United States

Full Name: Ying Han Tan
Company: Company 1
Country: United States

Full Name: Kenneth Ng
Company: Company 3
Country: United States

Full Name: Rubby Lee
Company: Company 2
Country: United Kingdom

Full Name: Robert White
Company: Company 1
Country: United States


## Task 5

Create a function that return companies with a number of employees nationality that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employee_nationality": {
        "Australia": 2,
        "Hong Kong": 1
    }
}, {
    "company": "Company 2",
    "employee_nationality": {
        "Hong Kong": 1,
        "United States": 1
    }
}, {
    "company": "Company 3",
    "employee_nationality": {
        "United States": 2
    }
}]
```

In [ ]:
def get_companies_with_employee_nationality():
  company_nationality = []

  for company in company_detail_list:
    nationality_count = {}

    for employee in employee_detail_list:
      if employee['company'] == company['name']:
        nationality = employee['nationality']
        if nationality in nationality_count:
           nationality_count[nationality] += 1
        else:
           nationality_count[nationality] = 1

    company_nationality.append({
      'company': company['name'],
      'employee_nationality': nationality_count
    })

  return company_nationality

companies_with_nationality = get_companies_with_employee_nationality()

for company in companies_with_nationality:
  print(company)

{'company': 'Company 1', 'employee_nationality': {'Australia': 2, 'United Kingdom': 1}}
{'company': 'Company 2', 'employee_nationality': {'United States': 1, 'Hong Kong': 1}}
{'company': 'Company 3', 'employee_nationality': {'United States': 2}}