<a href="https://colab.research.google.com/github/Totskyyy/UTS-AI-Thoty-Ariesandes-221011403066-05tple018/blob/main/UTS_AI_Thoty_Ariesandes_221011403066_05tple018.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Soal Latihan

In [ ]:
# expected result
# based on level
# bonus = salary * bonus/100

# employee_bonus = {
#     'Rudi': 750000,
#     'Rita': 50000
#     ...
# }

In [1]:
level = {
    'intern': {
        'bonus': 5
    },
    'staff': {
        'bonus': 10
    },
    'manager': {
        'bonus': 15
    },
    'director': {
        'bonus': 20
    }
}

employee_data = [
    {
        'name': 'Rudi',
        'level': 'staff',
        'salary': 7500000
    },
    {
        'name': 'Rita',
        'level': 'intern',
        'salary': 1000000
    },
    {
        'name': 'Asep',
        'level': 'manager',
        'salary': 12000000
    },
    {
        'name': 'Ricky',
        'level': 'manager',
        'salary': 13500000
    },
    {
        'name': 'Lisa',
        'level': 'staff',
        'salary': 8500000
    },
    {
        'name': 'Imam',
        'level': 'intern',
        'salary': 1050000
    },
    {
        'name': 'Haryo',
        'level': 'director',
        'salary': 35000000
    }
]

In [23]:
employee_bonus = {}

for employee in employee_data:
    level_employe = employee['level']
    salary = employee['salary']

    bonus_persen = level[level_employe]['bonus']
    bonus = salary * bonus_persen / 100

    employee_bonus[employee['name']] = bonus

In [24]:
print(employee_data)

[{'name': 'Rudi', 'level': 'staff', 'salary': 7500000, 'calculated_bonus': 750000.0}, {'name': 'Rita', 'level': 'intern', 'salary': 1000000, 'calculated_bonus': 50000.0}, {'name': 'Asep', 'level': 'manager', 'salary': 12000000, 'calculated_bonus': 1800000.0}, {'name': 'Ricky', 'level': 'manager', 'salary': 13500000, 'calculated_bonus': 2025000.0}, {'name': 'Lisa', 'level': 'staff', 'salary': 8500000, 'calculated_bonus': 850000.0}, {'name': 'Imam', 'level': 'intern', 'salary': 1050000, 'calculated_bonus': 52500.0}, {'name': 'Haryo', 'level': 'director', 'salary': 35000000, 'calculated_bonus': 7000000.0}]

In [26]:
for name, bonus in employee_bonus.items():
    print(f"{name}: Rp {int(bonus)}")

Rudi: Rp 750000
Rita: Rp 50000
Asep: Rp 1800000
Ricky: Rp 2025000
Lisa: Rp 850000
Imam: Rp 52500
Haryo: Rp 7000000